footer
  block footer
    .inner
      .logo
        a(href=rp)
          img(src=rp+"img/logo.png", alt="")
      nav.footer-nav
        ul
          li: a(href="about.html") 会社概要
          li: a(href="works.html") サンプル動画
          li: a(href="access.html") アクセス
          li: a(href="contact.html") お問い合わせ
      small.copy
        | &copy; Copyright 2018 hogehoge Default Co.,Ltd.
