header.header
  block header
    .inner
      .header_left
        .logo
          a(href=rp): img(src=rp+"img/hoshikake-logo.svg", alt="星駆水族館ロゴ")
      .header_right
        .header_info
          a.tel(href="tel:00-0000-0000") 00-0000-0000
          p 日祝休み
        nav.gnav
          ul
            li: a(href="lovely-friends.html") 楽しい仲間
            li: a(href="information.html") 営業案内・料金
            li: a(href="access.html") アクセス
            li: a(href="floor.html") フロア
            li: a(href="sdgs.html") SDGsの取り組み

            //- each val, index in pages
            //-   li: a(href="#") #{val.title}
