extends _layout
block prepend vars
  -
    pageTitle = ""
    pageSlug = "index"
    layer = 1
block prepend header
block prepend footer
block main
  section.mv
    img(src="https://picsum.photos/id/218/1000/300", alt="")
  section.oshirase
    .inner
      //- p #{rp}
      h1 お知らせ
  section.campaign
    .inner
      h1 キャンペーン
  section.opening
    .inner
      h1 営業時間
  section.appeal
    .inner
      h1 星駆水族館の魅力
  section.floor
    .inner
      h1 フロアガイド
  section.access
    .inner
      h1 アクセス
  section.sdgs
    .inner
      h1 SDGsの取り組み
