extends _layout
block prepend vars
  -
    pageTitle = ""
    pageSlug = "index"
    layer = 1
block prepend header
block prepend footer
block main
  section.mv
    img(src="https://picsum.photos/id/218/1000/300", alt="")
  section.oshirase
    .inner
      h1 お知らせ
      .oshirase_list
        ul
          li: a(href="#")
            img(src="https://picsum.photos/id/630/250/200/", alt="新しい仲間が増えました。")
            br
            | 新しい仲間が増えました。
          li: a(href="#")
            img(src="https://picsum.photos/id/631/250/200/", alt="石川日日新聞に掲載！")
            br
            | 石川日日新聞に掲載！
          li: a(href="#")
            img(src="https://picsum.photos/id/629/250/200/", alt="ナイトプールを開催。")
            br
            | ナイトプールを開催。
          li: a(href="#")
            img(src="https://picsum.photos/id/633/250/200/", alt="小学生向けのプレゼントをご用意。")
            br
            | 小学生向けのプレゼントをご用意。
          li: a(href="#")
            img(src="https://picsum.photos/id/634/250/200/", alt="開館15周年記念しおりをプレゼント！")
            br
            | 開館15周年記念しおりをプレゼント！
  section.campaign
    .inner
      h1 キャンペーン
      .campaign_box
        .campaign_left
          p サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト
          .btn: a(href="#") 詳しく見る
        .campaign_right
          .anime(data-aos="fade-up-left" data-aos-offset="1020" data-aos-duration="800")
            img(src="./img/img_index_iruka1.png", alt="")
  section.opening
    .inner
      h1 営業時間
  section.appeal
    .inner
      h1 星駆水族館の魅力
  section.floor
    .inner
      h1 フロアガイド
  section.access
    .inner
      h1 アクセス
  section.sdgs
    .inner
      h1 SDGsの取り組み
